@font-face {
  font-family: "HarryP";
  src: url(./assets/font/HARRYP__.TTF) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary-color: #2b5329;
  --main-accent-color: #a32638;
  --gryffindor-color: #740001;
  --hufflepuff-color: #f3c623;
  --ravenclaw-color: #222f5b;
  --slytherin-color: #1a472a;
  --logo-font: "HarryP";
  --header-color: #d4af37;
  --paragraph-color: black;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100svw;
  min-height: 100svh;
}
header,
footer {
  height: 100px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header {
  position: sticky;
  top: 0;
}
a {
  text-decoration: none;
}
h1 {
  font-family: var(--logo-font);
  font-size: 60px;
  color: var(--header-color);
  text-shadow: black 5px 5px 5px;
}
ul {
  list-style-type: none;
  font-size: 22px;
  display: flex;
  gap: 2rem;
}
li a {
  color: var(--paragraph-color);
}
main {
  top: 100px;
  background-image: url(./assets/images/hogwarts.jpg);
  height: 100svh;
  width: 100svw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  flex-direction: column;
}
h2 {
  font-family: var(--logo-font);
  color: var(--header-color);
  text-shadow: black 5px 5px 5px;
  font-size: 40px;
}
#image-gallery {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
figure {
  height: 250px;
  width: 250px;
  margin: 10px;
  /* border: 10px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
figure img {
  height: 80%;
  width: 80%;
  object-fit: cover;
  object-position: 5px 0;
}
figcaption {
  background-color: rgba(255, 255, 255, 0.269);
  border-radius: 10px;
  font-size: 18px;
  width: 80%;
  text-align: center;
}
